{% extends 'base.html.twig' %}

{% block body %}
    <p class="bg-primary">test</p>
    <div class="map bg-dark">
        {% for y in 0..6 %}
            <div class="row">
                {% for x in 0..12 %}
                       <div class="col"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
