<form method="post" action="{{ path('admin_game_delete', {'id': game.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce niveau ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.id) }}">
    <button class="btn">Supprimer</button>
</form>
