{% extends 'base.html.twig' %}

{% block title %}Nouveau jeu{% endblock %}

{% block body %}
    <div class="d-flex">
        {{ include('admin/_index.html.twig') }}
        <div class="d-flex flex-column mx-auto">
            <h1>Créer un nouveau niveau</h1>
            {{ include('game/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
